.wrapper {
    font-family: sans-serif;
    color: #000;
}

hr {
    border-style: none;
    border-bottom: 1px solid #000;
}

.container {
    max-width: 90vw;
    padding: 0 15px;
    margin: 0 auto;
}

.logged {
    display: flex !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    &__title {
        &-text {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2.25rem;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        &-logout {
            color: #000;
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;
        }
        &-user {
            display: inline-block;
            width: 36px;
            height: 36px;
            font-size: 22px;
            line-height: 36px;
            text-align: center;
            border: 1px solid black;
            border-radius: 50%;
            text-transform: uppercase;
            margin-left: 8px;
        }
    }
}

.form-field-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
    position: relative;

    & > label {
        margin-bottom: 4px;
    }
}

.input-error {
    position: absolute;
    bottom: -16px;
    left: 0;
    font-size: 14px;
    color: red;
}

.form-input {
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
}

.form-label {
    display: block;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 32px;
    margin-top: 8px;
}

.form-btn {
    cursor: pointer;
    margin-top: 20px;
    padding: 8px 16px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    text-transform: capitalize;
    align-self: flex-end;
}

.login {
    &__form {
        max-width: 500px;
        margin: 0 auto;
        box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);
        padding: 16px;
        margin-top: 80px;
        border-radius: 8px;

        &-switch {
            outline: none;
            cursor: pointer;
            border: none;
            background-color: transparent;
            font-size: 1.125rem;
            text-transform: uppercase;
            padding-left: 10px;

            &:hover {
                text-decoration: underline;
            }
        }

        & > form {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            padding: 0 10px;
        }
    }
}

.btn-play {
    background-color: forestgreen;
}

.btn-stop {
    background-color: crimson !important;
}

// i.play {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: #fff;
// }

// i.play::before {
//     content: "\f04b";
// }

// i.stop {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: #fff;
// }

// i.stop {
//     content: "\f04c";
// }

.todo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-top: 16px;

    &__config {
        box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);
        padding: 16px;
        border-radius: 8px;

        &-title {
            font-size: 1.75rem;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 32px;
            margin-top: 8px;
        }

        & > form {
            padding: 0 10px;
            display: flex;
            flex-direction: column;
            row-gap: 5px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        &-item {
            box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);
            border-radius: 8px;
            padding: 8px;
            position: relative;

            &-task-name {
                font-weight: 700;
                margin-bottom: 1rem;
                font-size: 1.5rem;
            }

            &-task-description {
                font-size: 1rem;
                margin-bottom: 1rem;
            }

            &-timer {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;

                &-btn {
                    position: relative;
                    border-radius: 100%;
                    width: 22px;
                    height: 22px;
                    border: none;
                    margin-right: 8px;
                    cursor: pointer;
                    font-size: 10px;
                    background-color: forestgreen;

                    & > i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: #fff;
                    }
                }
            }

            &-task-date {
                color: gray;
                margin-bottom: 1rem;
                font-size: 0.875rem;
            }

            &-task-btn {
                padding: 4px 8px;
                border: 1px solid black;
                font-size: 0.875rem;
                border-radius: 4px;
            }

            &-close-btn {
                position: absolute;
                top: 16px;
                right: 16px;
                cursor: pointer;
                background-color: transparent;
                border-radius: 50%;
                border: 1px solid gray;
                color: gray;
                width: 25px;
                height: 25px;
                text-align: center;
            }
        }
    }
}
