.wrapper {
    max-width: 1200px;
    margin: 0 auto;

}

.header {
    display: flex;
    border-bottom: 1px solid #000;
    &__title {
        &-text {
            text-transform: uppercase;
        }
    }
}